PORT=3000

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

GOOGLE_BOOKS_API_KEY=
GOOGLE_MAPS_API_KEY=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_VISION_KEY=
